<?xml version="1.0" encoding="UTF-8" ?>

<!--
  Description: logback-console.xml
  User: c332030
  Version 1.0
-->
<included>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern}</pattern>
            <charset>${logging.charset}</charset>
        </encoder>
    </appender>

    <logger name="console">
        <appender-ref ref="stdout"/>
    </logger>

</included>
